#logo{
    margin-left: 1.5em;   
}

#login{
    margin-top: 10em;
}

div.type {
    margin-left:1em;
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    color: #43A047;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.block-type {
    margin-left:auto;
    margin-right:0;
}

span.arguments {
    margin-left:0.5em;
    min-width: 3rem;
    padding: 0 8px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 22px;
    height: 22px;
    color: #43A047;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uzaColor{
    background-color: #43A047;
}

.uzaColor-text{
    color: #43A047;
}

input.valid:not([type]), input.valid:not([type]):focus,
input.valid:not(.browser-default),
input.valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #43A047 !important;
    -webkit-box-shadow: 0 1px 0 0 #43A047 !important;
    box-shadow: 0 1px 0 0 #43A047 !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #43A047 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #43A047 !important;
    box-shadow: 0 1px 0 0 #43A047 !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #43A047;
    box-shadow: 0 1px 0 0 #43A047;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #43A047;
    box-shadow: 0 1px 0 0 #43A047;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #43A047;
}

.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus, .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #43A047 !important;
}

nav button i.material-icons{
    margin-top: -13px !important;
}

nav button{
    margin-right: 2.5em;
}

nav a.sidenav-trigger {
    display: block;
}

#subtitle{
    font-size: 0.8em;
}

#description{
    font-size: 1.8em;
}