<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
	<meta http-equiv='cache-control' content='no-cache'>
    
    <!--Import Google Icon Font-->
    <link href="{{ url_for('static', filename='css/icon.css') }}" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>BNDES - Adicionar Afirmação</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="{{ url_for('home') }}" class="brand-logo center"><img class="" src="{{ url_for('static', filename='data/bndes.png') }}" width="120"></a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title black-text">
                                <h4>Adicionar Afirmação</h4>
                                <p id="subtitle">Informe abaixo o título/texto que será inserido para auxiliar a inteligência artificial do BNDES, a qual irá acrescentar conhecimento e precisão do sistema.
                                </p>
                            </span>
                            <div class="row">
                                <form method="GET" action="{{ url_for('afirmar') }}">
                                    <div class="input-field col s10 m10">
                                        <i class="material-icons prefix black-text">edit</i>
                                        <input type="text" id="autocomplete-input" name="query" class="autocomplete">
                                        <label for="autocomplete-input">Texto/título da notícia</label>
                                    </div>
                                    <div class="input-field col s2 m2">
                                        <p>
                                            <label>
                                                <input class="with-gap" name="target" value="1" type="radio" checked />
                                                <span>Verdadeiro</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input class="with-gap" name="target" value="0" type="radio"  />
                                                <span>Falso</span>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="col s12 m12 center">
                                        <button class="btn green darken-1" id="logar" type="submit">Adicionar
                                            <i class="material-icons right">add</i>
                                        </button>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {% if data != -1 %}
        <div class="section">
            <div class="row">
                <div class="col s6 m6 push-m3">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title black-text center">
                                {% if data == 1 %}
                                    <img class="" src="{{ url_for('static', filename='data/add-file.png') }}" width="200">
                                {% elif data == 0 %}
                                    <img class="" src="{{ url_for('static', filename='data/add-file-red.png') }}" width="200">
                                {% endif %}
                            </span>
                            <div class="row">
                                <div class="col s12 m12 center">
                                    <p id="description">A notícia '<b>{{query}}</b>' for adicionada a I.A como {{target}}.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {% endif %}
        
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>