<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
	<meta http-equiv='cache-control' content='no-cache'>
    
    <!--Import Google Icon Font-->
    <link href="{{ url_for('static', filename='css/icon.css') }}" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <title>BNDES - Página de Analise de sites falsificados</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="{{ url_for('home') }}" class="brand-logo center"><img class="" src="{{ url_for('static', filename='data/bndes.png') }}" width="120"></a>
        </div>
    </nav>
    
    <div class="container">
        
        <div class="section">
            <div class="row">
                <div class="col s12 m12">
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title black-text">
                                <h4>Analisar Notícia</h4>
                                <p id="subtitle">Insira abaixo o título/texto que será analisado pela ferramenta de inteligência artificical do BNDES, que irá Analisar
                                    o contexto da notícia, que validará a veracidade da infomação.
                                </p>
                            </span>
                            <div class="row">
                                <form method="GET" action="{{ url_for('home') }}">
                                    <div class="input-field col s12 m12">
                                        <i class="material-icons prefix black-text">edit</i>
                                        <input type="text" id="autocomplete-input" name="query" class="autocomplete" value="{{query}}">
                                        <label for="autocomplete-input">Texto/título da notícia</label>
                                    </div>
                                    <div class="col s12 m12 center">
                                        <button class="btn green darken-1" id="logar" type="submit">Pesquisar
                                            <i class="material-icons right">search</i>
                                        </button>
                                    </div>
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        {% if data != -1 %}
        <div class="section">
            <div class="row">
                <div class="col s6 m6 push-m3">
                    {% if data[0] == 1 %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title black-text center">
                                <img class="" src="{{ url_for('static', filename='data/ok.png') }}" width="200">
                            </span>
                            <div class="row">
                                <div class="col s12 m12 center">
                                    <p id="description">Essa notícia é verdadeira.</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    {% else %}
                    <div class="card">
                            <div class="card-content">
                                <span class="card-title black-text center">
                                    <img class="" src="{{ url_for('static', filename='data/fake.png') }}" width="200">
                                </span>
                                <div class="row">
                                    <div class="col s12 m12 center">
                                        <p id="description">Essa notícia é falsa.</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            
        </div>
        {% endif %}
        
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>